<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Grids-AI</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='/CSS/bootstrap.min.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		.g-recaptcha {
		    transform:scale(0.95);
		    transform-origin:0 0;
		    -webkit-transform: scale(0.95);
		     -moz-transform: scale(0.95);
		      -ms-transform: scale(0.95);
		       -o-transform: scale(0.95);
		          transform: scale(0.95);
		   -webkit-transform-origin: 0 0;
		      -moz-transform-origin: 0 0;
		       -ms-transform-origin: 0 0;
		        -o-transform-origin: 0 0;
		           transform-origin: 0 0;
		}
		a{
			color: white !important; 

		}
		a:active, a:hover{
			color: white !important; 

		}

	</style>
	
</head>
<body style="background-image:linear-gradient(to top left, #abbaab ,#ffffff); height: 100%; overflow: auto;">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="https://quantpix.in/"><img src="{{ url_for('static',filename='/Img/Logo.png') }}" class="rounded d-block" style="width: 40px;"></a>  
	 
	 <span class="navbar-text" style="color: white;">
      <strong>Quantum Pixel</strong> Intelligence
    </span>
	</nav>


	<br>



	<div class="container">
		<div class="row">
			<div class="col-lg-4 text-center">
				<img src="{{ url_for('static',filename='/Img/grids-ai-logo.png') }}" class="rounded mx-auto d-block" style="height:200px;margin-top: 20px; vertical-align: right;">				
			</div>
			<div class="col-lg-8 text-center">
				<div style="color: black;">
					<br>
					<br>
					<br>
					<h1><strong>Grids Ai</strong></h1>
					<h3>Version 1.1</h3>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">					
				<div class="row">
				<div class="col-lg-12 text-left" style="color: black;">				
				<br>
					<form method="POST" action="{{ url_for('home') }}" class="form-horizontal">
						{{ form.csrf_token }}
						<div class="form-group">
							{{ form.username.label (class='form-control-label')}}
							
							{{ form.username (class='form-control form-control-lg')}}
							<ul>
								{% for error in form.username.errors %}
									<li style="color: red;list-style-type: none;">{{ error }}</li>
								{% endfor %}
							</ul> 				
							<input type="submit" name="" value="Enter Site" class="btn btn-outline-dark btn-lg btn-block">				
							<br>								
														
							<!-- <div class="btn btn-lg btn-block">
								<a href="https://www.youtube.com/watch?v=2j2Vd_uCtuw&list=PL6UeDlnTQlx9GUB64c_adEIEguBm88SnC" >Tutorials</a>					
							</div>	 -->				
						</div>
						
					</form>
					
						
			</div>
		</div>
			</div>
			<div class="col-lg-12 text-center" style="color:black">
				<br>
				
		
				<!-- <h5>Quantum Pixel Intelligence</h4> -->
				
				
				<p class="text-justify" >
					A minimal, simple, lightweight tool to quickly study, analyse, design, generate basic layouts to get started with the project. <br><br>
					You can create unlimited design options with this tool which is designed especially to provide designers and planners a new dimension that might have been never thought of. <br><br>

					Also automate your initial design process by generating cad files automatically on the basis of your quick sketch. <br><br>The tool kept as modest as possible such that entire tool could be easily learnt and operated within minutes. With our mantra of 'Minimum input and maximum output' we believe this tool would be very helpful for architects, planners, designers, game developers, artists. Please note that currently the software is availble on Computers and Laptops only. <br><br>2021. Copyrights @ Quantum Pixel Intelligence. All rights Reserved. This software is developed by <strong>Architect Kartik Jadhav</strong>. <!-- Contact - <a href="https://quantpix.in/"> --><!-- https://quantpix.in/ --><br><br>
						

				</p>
					<br>
					<iframe width="100%" height="315" src="https://www.youtube.com/embed/2j2Vd_uCtuw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br>
					<br>
					<h2>Tutorials</h2>
					<br>
					<iframe width="100%" height="315" src="https://www.youtube.com/embed/HB_E3GB0-HI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<br>
		<br>
	


	<script type="text/javascript" src="{{ url_for('static',filename='/JS/jquery-3.6.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='/JS/bootstrap.js') }}"></script>
</body>
</html>